--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://download.pytorch.org/whl/cu124

# macOS
torch; sys_platform == "darwin"
torchvision; sys_platform == "darwin"

# Linux
torch==2.5.1+cu124; sys_platform == "linux"
torchvision==0.20.1+cu124; sys_platform == "linux"

# Windows
torch==2.5.1+cu124; sys_platform == "win32"
torchvision==0.20.1+cu124; sys_platform == "win32"
