# install from https://pytorch.org/get-started/locally/
# torch
# torchvision
# torchtext
# numpy < 2.0.0
# pillow
requests
tqdm
scipy
waitress
bottle==0.12.25
diskcache
flake8
psutil
pyyaml
platformdirs
# opencv-python
packaging
filelock

# iw3
timm
av==15.0.0
truststore; python_version >= '3.10'
# depthpro da3
pillow_heif
# da3
safetensors
einops
# da3
omegaconf
addict
