--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://download.pytorch.org/whl/cu128

# macOS
torch; sys_platform == "darwin"
torchvision; sys_platform == "darwin"

# Linux
torch==2.7.0+cu128; sys_platform == "linux"
torchvision==0.22.0+cu128; sys_platform == "linux"

# Windows
torch==2.7.0+cu128; sys_platform == "win32"
torchvision==0.22.0+cu128; sys_platform == "win32"
