# install from https://pytorch.org/get-started/locally/
# torch
# torchvision
# torchtext
# numpy < 2.0.0
# pillow
tqdm
wand >= 0.6.10
fonttools
scipy
waitress
bottle==0.12.25
diskcache
flake8
psutil
pyyaml
onnx
onnxconverter_common
lpips
platformdirs
# opencv-python
packaging
filelock

# https://github.com/GallagherCommaJack/dctorch
dctorch

# iw3
timm
numba # only for iw3 sbs training
av==13.1.0
rembg # for --remove-bg
truststore; python_version >= '3.10'
pillow_heif
