# install from https://pytorch.org/get-started/locally/
# torch
# torchvision
# torchtext
numpy < 2.0.0
pillow
tqdm
wand >= 0.6.10
fonttools
scipy
waitress
bottle
diskcache
flake8
psutil
pyyaml
onnx
onnxconverter_common
lpips
# opencv-python
packaging

# iw3
timm
numba # only for iww3 sbs training
av >= 12.2.0
rembg # for --remove-bg
